
.dart_tool/
build/
.pub-cache/
.pub/
/android/app/src/main/gen/
/android/app/profile/
/android/app/release/
/android/app/build/
/ios/Flutter/App.framework
/ios/Flutter/Flutter.framework
/ios/Flutter/Flutter.podspec
/ios/Flutter/Generated.xcconfig
/ios/Flutter/app.flx
/ios/Flutter/app.zip
/ios/Flutter/flutter_assets/
/ios/Flutter/flutter_export_environment.sh
/ios/Pods/
flutter_*.log


__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
env/
.env


/backend/target/
/backend/motor_anti-phishing/target/
**/*.rs.bk


.firebase/
firestore-debug.log
firepit-log.txt
ui-debug.log
firebase-debug.log


.idea/
.vscode/
*.iml
*.DS_Store
Thumbs.db


historico_ameacas.json
teste_*.txt
teste_*.bin

credentials.json
token.json
*firebase-adminsdk*.json
.env


/functions/venv/
/functions/env/
/functions/__pycache__/
/functions/anexos_suspeitos/
*.zip


teste_*.txt
teste_*.bin
historico_ameacas.json