# Flutter
build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
*.iml

# Rust
backend/target/
**/target/

# IDE
.idea/
.vscode/
*.log

# OS
.DS_Store
Thumbs.db

#python
backend/venv/
backend/motor_antiphishing/credentials.py
backend/motor_antiphishing/token.json